<%- include('../../include/header') %> 

    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-dark-overlay-4 overflow-hidden card-bg-scale h-300 text-center" style="background-image:url(/front/assets/images/blog/16by9/08.jpg); background-position: center left; background-size: cover;">
                      <!-- Card Image overlay -->
                      <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
                        <div class="w-100 my-auto">
                                        <div class="text-white mb-3">Browsing category:</div>
                          <h1 class="text-white h2">
                                            <span class="badge bg-warning mb-2">
                                                <i class="fas fa-circle me-2 small fw-bold"></i>Technology</span>
                                        </h1>
                          <div class="text-center position-relative">
                                            <span class="badge bg-info fs-6">14 posts</span>
                                        </div>
                        </div>
                      </div>
                    </div>
                </div>


                <div class="col-12">
                    
                        <% if (locals.article) { %>
                            <% article.forEach(element => { %>
                                <div class="card border rounded-3 up-hover p-4 mb-4">
                                    <div class="row g-3">
                                        <div class="col-lg-5">
                                            <!-- Categories -->
                                            <a href="#" class="badge bg-primary mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Tricks</a>
                                            <a href="#" class="badge bg-dark mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Photography</a>
                                            <!-- Title -->
                                            <h2 class="card-title">
                                                <a href="/info/article/lire/<%= element.idArticle %> " class="btn-link text-reset stretched-link"><%= element.titreArticle  %> </a>
                                            </h2>
                                            <!-- Author info -->
                                            <div class="d-flex align-items-center position-relative mt-3">
                                                <div class="avatar me-2">
                                                    <img class="avatar-img rounded-circle" src="/front/assets/images/avatar/04.jpg" alt="avatar">
                                                </div>
                                                <div>
                                                    <h5 class="mb-1"><a href="#" class="stretched-link text-reset btn-link">Billy Vasquez</a></h5>
                                                    <ul class="nav align-items-center small">
                                                        <li class="nav-item me-3">Aug 15, 2022</li>
                                                        <li class="nav-item"><i class="far fa-clock me-1"></i>18 min read</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Detail -->
                                        <div class="col-md-6 col-lg-4">
                                            <p><%- element.desc %>.... </p>
                                        </div>
                                        <!-- Image -->
                                        <div class="col-md-6 col-lg-3">
                                            <img class="rounded-3" src="data:image/png;base64,<%= element.imageArticle %> " alt="Card image" style="height:250px; width: 320px" >
                                           <!-- <img class="rounded-3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" /> -->
                                        </div>
                                    </div>  
                                </div>  
                            <% }) %>
                        <% } %>
                   
                </div>
            </div>

            <div class="col-lg-3 mt-5 mt-lg-0">
                <div data-sticky="" data-margin-top="80" data-sticky-for="767">
                    <!-- Categories -->
                    
                    <!-- ADV widget START -->
					<div class="col-12 col-sm-6 col-lg-12 my-4">
						<a href="#" class="d-block card-img-flash">
							<img src="/front/assets/images/adv.png" alt="">
						</a>
						<div class="smaller text-end mt-2">ads via <a href="#" class="text-muted"><u>Bootstrap</u></a></div>
					</div>
                    <!-- ADV widget END -->
                </div>
            </div>
    
</section>






<%- include('../../include/footer') %> 