<%- include('../../include/header') %> 

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-9 mx-auto pt-md-5">
                <a href="#" class="badge <% if (article.typeArticle.libelleTypeAticle=='scientifique') { %><%='bg-primary'%><% }%> <% if (article.typeArticle.libelleTypeAticle=='juridique') { %><%='bg-dark'%><% }%> <% if (article.typeArticle.libelleTypeAticle=='economique') { %><%='bg-danger'%><% }%>  mb-2"><i class="fas fa-circle me-2 small fw-bold"></i><%= article.typeArticle.libelleTypeAticle  %></a>
				    <h1 class="display-4"><%= article.titreArticle %></h1>
        
                        <!-- Info -->
                    <ul class="nav nav-divider align-items-center">
                        <li class="nav-item">
                            <div class="nav-link">
                            by <a href="#" class="text-reset btn-link">Louis Ferguson</a>
                            </div>
                        </li>
                        <li class="nav-item">Nov 15, 2021</li>
                        <li class="nav-item">5 min read</li>
                    </ul>
            </div>
        </div>
	</div>
</section>
<section class="pt-0">
	<div class="container position-relative">
		<div class="row">
			<!-- Main Content START -->
			<div class="col-lg-9 mx-auto">
                                 <p><%- article.descriptionArticle %> </p>
            </div>
        </div>
    </div>
</section>                                 
				    <hr>
                    <% if (commentaire.length > 0 ) { %>
                        <div>
                            <h3> <%= commentaire.length %>  comments</h3>
                            <!-- Comment level 1-->
                            <% commentaire.forEach(element => { %>
                                <div class="my-4 d-flex">
                                    <div>
                                      <div class="mb-2">
                                          <h5 class="m-0"><%= element.nomOuEmail  %> </h5>                                        
                                      </div>
                                       <p><%= element.contenuCommentaire %>  </p> 
                                       <% if(locals.user){%> 
                                        <a href="/admin/supprimerCommentaire/<%=element.idCommentaire%>/<%=element.idArticle%>" class="badge bg-danger"> supprimer</a>
                                        <% } %> 
                                    </div>
                                    
                                </div>
                            <% }) %>
                            <!--ajout commentaire-->
                            <h3>Ajouter un comentaire</h3>
                            <form class="row g-3 mt-2" method="post" action=" /article/ajoutCommentaire/<%= article.idArticle%> ">
                                <div class="col-md-6">
                                    <label class="form-label">votre Nom</label>
                                    <input type="text" name="nomOuEmail" class="form-control" aria-label="First name">
                                </div>
                                <div class="col-12">
                                    <label id="comment" class="form-label">votre commentaire</label>
                                      <textarea name="contenu" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary"> votre commentaire</button>
                                </div>
                            </form>
                        </div>
                    <% } else { %>
                        <div>
                            <h3> 0 commentaire </h3>
                            <form class="row g-3 mt-2" method="post" action=" /article/ajoutCommentaire/<%= article.idArticle%> ">
                                <div class="col-md-6">
                                    <label class="form-label">Name *</label>
                                    <input type="text" name="nomOuEmail" class="form-control" aria-label="First name">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Your Comment *</label>
                                      <textarea name="contenu" class="form-control" rows="3"> </textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Post comment</button>
                                </div>
                            </form>
                        </div>
                    <% } %>   
                     
                </div>
            </div>
        </section>
                             
    </main>   
    



<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short"></i></div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="/front/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/front/assets/vendor/tiny-slider/tiny-slider.js"></script>

<!-- Template Functions -->
<script src="/front/assets/js/functions.js"></script>

</body>
</html>